<header>
    <nav class="navbar">
        <div class="logo">
            <a href="{{ path('app_home') }}" title="Retour à l'accueil">
                <img src="{{ asset('images/logo.png') }}" alt="Logo ChezToiChezMoi">
            </a>
        </div>

        <ul class="nav-links">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Chambres</a></li>
            <li><a href="#">À Propos</a></li>
            <li><a href="#">Contact</a></li>

            {% if app.user %}
                <li>
                    <i class="fas fa-user"></i> <span>{{ app.user.prenom }}</span>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a> 
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}">
                        <i class="fas fa-user"></i> Connexion
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
